.head {
  text-align: center;
  margin-top: 35px;
}
.head h1 {
  margin-bottom: 35px;
}
.image {
  width: 100%;
  max-width: 300px;
  height: 90%;
  max-height: 400px;
}
.history-body {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 35px;
  display: block;
}
.history-body p {
  line-height: 2em;
}
.history-body button {
  padding: 10px 12px;
}
